* {
  box-sizing: border-box;
}

body {
  background-color: #444;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* desktop-first */

/****** NAVIGATION *****/
.header {
  background-color: #222;
  height: 80px;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.logo {
  /* background-color: lightgreen; */
  text-decoration: none;
  display: flex;
  align-items: center;
}
.logo__image {
  height: 60px;
  border-radius: 50%;
}
.logo__title {
  margin: 0;
  margin-left: 10px;
}

.nav {
  /* background-color: lightsalmon; */
  align-self: flex-end;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* align-items: flex-end;  */
}
.nav__item {
  margin-left: 16px;
}
.nav__link {
  text-decoration: none;
  font-size: 17px;
  color:#fff
}

/* mobile version(navigation) */
/* breakpoints
    576px - 768px - 992px - >1200
*/

@media (max-width: 767px){
  .header {
    /* background-color: lightseagreen; */
    justify-content: center;
    /* padding-right: 25px !important; */
  }

  .logo {
    /* border: 1px solid lightpink; */
    position: relative
  }

  .logo__title {
    background-color: lightgreen;
    position: absolute;
    width: 242px;
    top:0px;
    left: 60px;
  }
  .nav {
    width: 242px;
    margin-left: 10px;
  }
  .nav__list {
    justify-content: space-evenly;
  }
  .nav__item {
    /* background-color: lightskyblue; */
    margin-left: 0;
  }

}